<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Signup Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
h5{
    margin-top: 20px;
}
label{
    padding-left: 120px;  
}



</style>


<body>



    <!-- style="background-image:url('{% static "images/seamless.jpg" %}');" -->
    <div class="container-fluid">
        <p class="text-white" style="background-color:rgb(33, 35, 114); text-align: end; padding-left: 20px;"> <strong>
                Help |
                Contact Us </strong></p>
    </div>


    <div class="container pt-3">
        <nav class="navbar navbar-expand-sm bg-white justify-content-end">
           
            <ul class="navbar-nav nav-pills">
                <!--<li class="nav-item"><a href="" class=" btn btn-outline-secondary nav-link">HOME</a></li>-->
                <li class="nav-item"><a href="{% url 'login1' %}"
                        class=" btn btn-outline-primary text-secondary nav-link"><strong>LOGIN</strong></a></li>

                <li class="nav-item"><a href="{% url 'signup' %}"
                        class=" btn btn-outline-primary text-primary nav-link"><strong>SIGNUP</strong></a></li>

                <li class="nav-item"><a href="{% url 'add_course' %}"
                        class=" btn btn-outline-primary text-secondary nav-link"><strong>ADD COURSE</strong></a></li>

                <li class="nav-item"><a href="{% url 'add_student' %}" class=" btn btn-outline-primary text-secondary nav-link"><strong>ADD
                            STUDENT</strong></a></li>
                            
                <li class="nav-item"><a href="{% url 'showstudentdetails' %}" class=" btn btn-outline-primary text-secondary nav-link"><strong>SHOW
                            STUDENT</strong></a></li>

                <li class="nav-item"><a href="{% url 'logout' %}" class=" btn btn-outline-primary text-secondary nav-link"><strong>LOGOUT</strong></a></li>
            </ul>
        </nav>
    </div>


    <div style="padding-bottom:100px ;">
        <a href="{% url 'demofun' %}">
            <img href="" class="float-left" style="margin:10px;" src="{% static 'images/images.jpg' %}" width="170px" height="170px"
                alt=""></a>
    </div>


<div style="color:red ; text-align: center;" class="font-weight-bold">
    {% for message in messages %}

    {{ message }}

    {% endfor %}
</div>


<h1 style="text-align: center;">SIGN UP</h1>
    <form action="{% url 'usercreate' %}" method="post">
        {% csrf_token %}
        
        <div style="text-align: center;"> 
            <br><br>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="username">User Name</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password</label>
    <input type="password" id="pword" name="pword"><br><br>
    <label for="cpassword">Confirm Password</label>
    <input type="password" id="cpword" name="cpword"><br><br>

    <label for="email">E Mail</label>
    <input type="email" id="email" name="email"><br><br>

    <input type="submit" value="Sign Up"><br><br><br>
    <label for="Donthanacc">Already have an account?</label>
    <input type="submit" value="Log In">

</form>
</div>
<br><br><br>



<div class="card" style="background-color:rgb(32, 31, 31) ;">
    <div class="card-body">
      <p> <strong class="text-danger"> FOLLOW US</strong>
        <p><a href="#" class="text-white">Facebook</a></p>
        <p><a href="#" class="text-white">Instagram</a></p>
        <p><a href="#" class="text-white">Twitter</a></p>
        <p><a href="#" class="text-white">Pinterest</a></p>
        
        </p>
    </div>

</body>

</html>